DATABASE_URL="mysql://USERNAME:PASSWORD@HOST:3306/DATABASE_NAME"

ADMIN_EMAIL=admin@sawariyaevent.com
ADMIN_PASSWORD=change-this-password
ADMIN_SECRET=change-this-secret

# Superadmin approval portal
SUPERADMIN_EMAIL=superadmin@sawariyaevent.com
SUPERADMIN_PASSWORD=change-this-password
SUPERADMIN_SECRET=change-this-secret
